<!-- Etapa 1: Tela de Boas-Vindas -->
<div *ngIf="etapa === 'bemvindo'" class="bemvindo-container">
  <div class="conteudo">
    <img src="https://cdn-icons-png.flaticon.com/512/2920/2920244.png" alt="Globo conectado" />
    <h1>Bem-Vindo</h1>

    <p>
      Simplifique sua vida agendando serviços de forma rápida e fácil com nosso aplicativo intuitivo.
    </p>

    <div class="botoes">
      <button class="btn branco" (click)="selecionarTipo('CLIENTE')">Cliente</button>
      <button class="btn branco" (click)="selecionarTipo('FUNCIONARIO')">Estabelecimento</button>
    </div>
  </div>
</div>

<!-- Etapa 2: Formulário de Login -->
<div *ngIf="etapa === 'login'" class="login-container">
  <div class="login-box">

    <h2>Login {{ tipoUsuario === 'CLIENTE' ? 'Cliente' : 'Estabelecimento' }}</h2>

    <input [(ngModel)]="email" placeholder="E-mail" type="email" />
    <input [(ngModel)]="senha" placeholder="Senha" type="password" />

  <button class="btn-entrar" (click)="login()" [disabled]="carregando">{{ carregando ? 'Entrando...' : 'Entrar' }}</button>
  <button class="btn-cadastrar" *ngIf="tipoUsuario" (click)="abrirCadastro()">Cadastre-se</button>
  <button class="btn-voltar" (click)="voltar()">← Voltar</button>
  <p *ngIf="erro" class="erro">{{ erro }}</p>
  </div>
</div>
